{% macro get_news_source(news_results) %}
{% for result in news_results %}

<a href="/news/{{result.id}}" class="btn btn-primary mb-2">{{result.name}}</a>
    
{% endfor %}
{% endmacro %}

{% macro Article(article_result) %}
{% for article in article_result %}

<div class="card" style="width: 18rem;">
    <img src="{{article.urlToImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{article.publisedAt}}</h5>
      <p class="card-text">{{article.description}}</p>
      <a href="{{article.url}}" class="btn btn-primary">See More</a>
    </div>
  </div>
{% endfor %}
{% endmacro %}